<a href="https://colab.research.google.com/github/tariqhaseen123/project.github.io/blob/master/practice_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
food=['biryani','gulabjaman','qorma','yougard']
food[5:0]

[]

In [3]:
food[-6:4]

['biryani', 'gulabjaman', 'qorma', 'yougard']

In [6]:
food[0:4]

['biryani', 'gulabjaman', 'qorma', 'yougard']

In [7]:
food[4:0]

[]

In [8]:
food[::2]

['biryani', 'qorma']

In [9]:
food[::3]

['biryani', 'yougard']

In [10]:
food[::-1]

['yougard', 'qorma', 'gulabjaman', 'biryani']

In [11]:
food[-2:-6:-1]

['qorma', 'gulabjaman', 'biryani']

In [12]:
food[5:1:-1]

['yougard', 'qorma']

list comprehension

In [13]:
[input("Enter Name ") for name in range(5)]

Enter Name saad
Enter Name tariq
Enter Name mohsin
Enter Name tanveer
Enter Name talha

['saad', 'tariq', 'mohsin', 'tanveer', 'talha']

In [19]:
squares=[]
for num in range(100):
  square=num**2
  squares.append(square)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [21]:
square=[num**2 for num in range(100)]
square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [29]:
name=input("input comma seperated names").split(" ")
name

input comma seperated namestariq saad ahmed zain

['tariq', 'saad', 'ahmed', 'zain']

In [30]:
" ".join(name)

'tariq saad ahmed zain'

In [31]:
from posixpath import join
",".join(name)

'tariq,saad,ahmed,zain'

In [33]:
name=input("input comma seperated names").split("a")
name

input comma seperated namestariq, ahmed, zain

['t', 'riq, ', 'hmed, z', 'in']

In [36]:
numbers=[int(num) for num  in input("Enter numbers").split(" ") ]
numbers

Enter numbers1 2 3 4 5 6 7

[1, 2, 3, 4, 5, 6, 7]